.footer {
    background-color: white;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.8;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: flex-start
}

.footer-logo {
    height: 80px;
    width: auto;
    display: block;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.3;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 400px;
}

.footer-links li {
    font-weight: 500;
    font-size:16px ;
    color: black;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .footer-links {
        gap: 150px;          
        padding: 15px 40px; 
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .footer-logo {
        height: auto;  
        max-width: 100%;
    }

    .footer-links {
        flex-direction: column; 
    }
}