.header {
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 50;
    background-color: transparent;
}

.nav-list {
    background-color: white;
    padding: 15px 120px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.4s, opacity 0.4s ease;
}

.nav-list.active {
    visibility: visible;
    opacity: 1;
}

.nav-list-item {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transition: color 0.3s ease;
}

.nav-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    height: 180px;
    width: auto;

    border-radius: 50%;
    z-index: 100;
}


.button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    right: 40px;
    Z-index: 200;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: all;
}

@media (max-width: 1200px) {
    .nav-list {
        gap: 30px;
        padding: 20px 40px;
    }
}

@media (max-width: 768px) {
    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background-color: white;
        box-shadow: -5px 0 15px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transition: right 0.4s ease-in-out;
        z-index: 150;
        border-radius: 0;
        margin: 0;
        padding: 0;
        visibility: visible;
        opacity: 1;
    }

    .nav-list.active {
        right: 0;
    }
}