body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./img/main_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 30px;
}