.app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.Main-text-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 150px;
}

.Main-text {
  font-size: 70px;
  color: black
}

.Main-caps {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 20px;

    background: linear-gradient(to right, #000000 0%, #2B658E 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.Text {
    font-size: 36px;
    line-height: 1.6;
    color: black
}

.Main-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px
}

.Main-image {
  width: 100%;
  height: auto;
  max-height: 2000px;
  max-width: 500px;
}

@media (max-width: 1200px) {
  .app-content {
    gap: 40px;
    padding: 30px;
  }

  .Main-caps {
    font-size: 36px;
  }
  
  .Main-image {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .app-content {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 20px;
    text-align: center;
    justify-content: flex-start;
  }

  .Main-text-container {
    max-width: 100%;
    align-items: center;
  }

  .Main-text, .Main-caps, .Text {
    text-align: center;
  }

  .Main-image {
    max-width: 80%;
    max-height: 300px;
    margin-bottom: 20px;
  }
}